.tag-filter {
    margin-bottom: 1rem;
    margin-left: 0;
    ul#tag-filters {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-block;
        }
    }
}

.tag-btn {
    padding: 0.25rem 0.5rem;
    margin: 0 0.25rem 0.5rem 0;
    border: 1px solid $border-color-01;
    border-radius: 1rem;
    background: transparent;
    color: $text-color;
    font-family: inherit;
    cursor: pointer;
}

.tag-btn.active {
    background: $brand-color;
    color: $text-color-inverse;
}

.post-list-item {
    margin-bottom: 2rem;
    border-bottom: 1px solid $border-color-01;
}

.post-list-excerpt {
    font-size: $small-font-size;
    color: $brand-color-dimmed;
}

.tag-filter {
    border-bottom: 1px solid $border-color-01;
}