<!DOCTYPE html>
<html lang="en-US">

{% include head.html %}

<body>
    <canvas id="render-fluid"></canvas>
    <script>
        const canvas = document.getElementById('render-fluid');
        
        let fluid = new Fluid(canvas);
        fluid.mapBehaviors({
            dissipation: .97,
            velocity: .98,
            pressure: .8,
            presure_iteration: 20,

            paused: false,

            render_bloom: false,
            bloom_iterations: 10,
            bloom_resolution: 256,
            intensity: 0.2,
            threshold: 0.2,

            transparent: false,
        });

        fluid.activate();

        canvas.style.height = '100%';
    </script>

    <div class="wrapper markdown-body">
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
    </div>
</html>